<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de animais</title>
</head>
<body>

<div layout:fragment="corpo">
        <h1>Cadastro de animal</h1>


<div class=" alert alert-success" th:if="${msg != null}"  th:text="${msg}"></div>
    <form th:action ="@{/animal/cadastrar}" th:object="${animal}" method="post">
        <div class="form-group">
            <input type="text" th:field="*{nome}" id="nome" class="form-control" placeholder="Digite o nome">
        </div>
        <div class="form-group">
            <input type="text" th:field="*{raca}" id="raca" class="form-control" placeholder="Digite a raça">
        </div>
        <div class="form-group">
            <label>Data de Nascimento</label>
            <input th:field="*{dataNasc}" class="form-control" type="text">
        </div>
        <div class="form-group">
            <input th:field="*{castrado}" type="checkbox">
            <label>Castrado</label>
        </div>
        <input type="submit" value="Cadastrar" class="btn btn-success">
    </form>
</div>


</body>
</html>