<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div layout:fragment="corpo">
        <div th:if="@{msg != null}" th:text="${msg}" class="alert alert-success">
        </div>
        <h1>Lista de Pets</h1>
        <table class="table">
            <tr>
                <th>Nome</th>
                <th>Raça</th>
                <th>Data Nascimento</th>
                <th>Castrado</th>
            </tr>

            <tr th:each="animal:${lista}">
                <td th:text="${animal.nome}"></td>
                <td th:text="${animal.raca}"></td>
                <td th:text="${animal.dataNasc}"></td>
                <td th:text="${animal.castrado?'Sim':'Não'}"></td>

                <td>
                    <a th:href="@{/animal/editar/}+${animal.codigo}"
                        class="btn btn-outline-primary btn-sm">Editar</a>

                </td>

                <td>
                    <!-- Botão para acionar modal -->
                    <button th:onclick="|codigo.value=${animal.codigo}|" type="button" class=" btn btn-danger btn-sm" data-toggle="modal" data-target="#modalExemplo">
                        Excluir
                    </button>

                </td>

            </tr>
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Deseja realmente excluir o animal?
                            ...
                        </div>
                        <div class="modal-footer">
                            <form th:action="@{/animal/remover}" method="post">
                                <input type="hidden" name="codigo" id="codigo">

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                <button type="submit" class="btn btn-danger">Sim</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </table>

    </div>

</body>
</html>